.container {
  background-color: #fff;
  width: 34em;
  margin: 0 2em;
  padding: 1em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  font-size: .85em;
  padding: 0;

  & > li {
    width: 50%;
  }
}

.title {
  margin: 0;
  padding: 0;
}