.container {
  border-bottom: 1px solid map(colors, red, santander);
  transition: .4s;
  padding: 0.7em 0;
}

.input {
  display: none;

  &:checked {
    & + .label {
      &::after {
        display: block
      }
    }
  }
}

.label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;

  &::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 1em;
    flex-shrink: 0;
  }

  &::after {
    content: '';
    width: 0.75em;
    height: 1.5em;
    transform: translateY(-80%) rotate(37.5deg);
    border-right: 0.3em solid blue;
    border-bottom: 0.3em solid blue;
    display: none;
    position: absolute;
    top: 50%;
    left: 0.65em;
  }
}